@import url('https://fonts.googleapis.com/css2?family=Teko:wght@600&display=swap');
.img-radius{
    border-radius: 0;
    height: 350px;
}
.card{
    background-color: white;
    border-radius: 16px;

}
.btn-color{
    background-color: rgb(134 14 233);
}
.btn-color:hover{
    background-color: rgba(0, 0, 0, 0.968);
    color: white;
}
.WholeCardLink{
    text-decoration:none; 
    color:black;
}

/* .section-padding::before{
    position: absolute;
    content: '';
    height: 100px;
    width: 100px;
    border-radius: 50%;
    left: 35%;
    top: 12%;
    background: linear-gradient(45deg,#7f00ff,pink);
} */

.code-loader {
    color: rgb(134 14 233);
    font-family: Consolas, Menlo, Monaco, monospace;
    font-weight: bold;
    font-size: 100px;
    opacity: 0.8;
  }
  
  .code-loader span {
    display: inline-block;
    animation: pulse_414 0.4s alternate infinite ease-in-out;
  }
  
  .code-loader span:nth-child(odd) {
    animation-delay: 0.4s;
  }
  
  @keyframes pulse_414 {
    to {
      transform: scale(0.8);
      opacity: 0.5;
    }
  }

.center1{
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
