bodY {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .center {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .spinner {
    box-shadow: 0 0 0 2px rgb(134 14 233), inset 0 0 0 1px rgb(134 14 233);
    position: relative;
    height: 10px;
    width: 300px;
    border-radius: 8px;
    overflow: hidden;
    animation: rotate_5132 6s linear infinite;
  }
  
  .spinner:before {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: rgb(134 14 233);
    animation: load_5123 6s linear infinite;
  }
  
  @keyframes rotate_5132 {
    0%,
    42% {
      transform: rotate(0deg);
    }
  
    48%,
    92% {
      transform: rotate(180deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes load_5123 {
    0% {
      width: 0;
    }
  
    40%,
    50% {
      width: 100%;
    }
  
    90%,
    100% {
      width: 0;
    }
  }
  

.title-filter{
  font-size: 40px;
  font-weight: 700;
}
   
  
  